/* Font */

@font-face {
    font-family: boldCabin;
    src: url("../assets/fonts/Cabin-Bold.woff");
}

@font-face {
    font-family: regularCabin;
    src: url("../assets/fonts/Cabin-Regular.woff");
}

/* general styling */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: regularCabin;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 4%;
    font-size: x-large;
    color: #4a2fa3;
}

.header:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 6vw;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid violet;
}

ul>li {
    padding: 0 8px 0 8px;
}

a {
    text-decoration: none;
    font-weight: boldCabin;
    color: white;
}

h1 {
    font-size: 7vw;
    margin-bottom: 3%;
}

h1+p {
    font-size: 0.1vw;
    width: 28vw;
}

h2 {
    font-weight: 200;
    font-size: 3.5vw;
}

/* welcome section styling */

.welcome {
    background-image: url('../assets/images/welcome-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 65vw;
}

/* navbar styling */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

nav {
    height: 10vw;
}

.hero {
    height: 55vw;
}

.navbar__logo {
    width: 10%;
}

.navbar__logo>a {
    font-size: 5vw;
    font-weight: bolder;
}

.navbar__links {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

/* sign up button styling */

#sign {
    width: 15%;
    background-color: transparent;
    border: white;
    color: white;
    text-align: center;
    cursor: pointer;
    border-style: solid;
    padding: 1% 4% 1% 4%;
    border-width: thin;
    border-radius: 20px 20px 20px 0px;
}

#sign>a {
    font-weight: boldCabin;
    font-size: 1vw;
}

/* input form styling */

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1vw;
}

#getStartedInput {
    background-color: #9572e8;
    border-style: none;
    padding: 2% 3% 2% 2%;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    margin-right: 2%;
    Outline: none;
    border-width: thin;
    margin-left: 0px;
}

#getStartedInput::placeholder {
    color: rgb(204, 202, 202);
}

/* get started button styling */

#getStarted {
    background-color: #e94070;
    color: white;
    text-align: center;
    cursor: pointer;
    border-style: none;
    padding: 2% 5% 2% 5%;
    border-radius: 20px 20px 20px 0px;
}

/* hero section styling */

.hero__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.c-letter {
    color: white;
    font-weight: 700;
    font-size: 25vw;
    opacity: 0.1;
    position: absolute;
    top: -11vw;
    left: -2vw;
    z-index: 1;
}

.hero__text {
    margin-bottom: 20vw;
    font-size: 1.75rem;
    position: relative;
}

.hero__text>p {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15%;
}

.hero__img {
    height: 40vw;
    width: 40vw;
    margin-top: 22vw;
    margin-right: 10vw;
    /* margin-bottom: -1vw; */
    float: right;
}

/* special section styling */

.special__articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.special__article {
    display: block;
    width: 33.33%;
    text-align: center;
    padding: 0 3vw 0 3vw;
    /* padding: 5%; */
}

.special__article>h3 {
    padding-bottom: 5%;
    color: #5f49a8;
    font-weight: bold;
}

.special__article>p {
    color: #8e7da1;
}

.special__article>i {
    color: violet;
    font-size: 2rem;
    padding-bottom: 9%;
}

/* propositions section styling */

.propositions__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6%;
}

.propositions__img>img {
    width: 80%;
    height: 50%;
}

.propositions__img {
    width: 60%;
}

.propositions__text {
    width: 40%;
    text-align: left;
    padding-bottom: 6%;
}

.propositions__text>h2 {
    /* padding-bottom: 3%;
    font-size: 3rem; */
    color: #4a2fa3;
}

.propositions__text>p {
    color: grey;
    padding-top: 1.5rem;
}

.propositions__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#android, #apple {
    text-align: left;
    color: rgb(73, 67, 96);
    width: 30%;
    padding: 2% 3% 3% 3%;
    margin: 13% 10% 3% 0%;
    border-radius: 20px 20px 20px 0px;
    background-color: white;
    border-width: thin;
    border-color: white;
    box-shadow: 1px 1px rgb(224, 221, 221), 1px 1px rgb(224, 221, 221) inset;
    outline: none;
}

.fa-apple, .fa-android {
    float: left;
    padding-right: 10px;
}

/* features section styling */

.features__articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
}

/*
.features {
    color: #4a2fa3;
} */

.features__article {
    width: 33.33%;
    text-align: left;
    float: left;
    padding: 1%;
}

.features__article>p {
    padding-top: 2%;
    color: rgb(113, 111, 138);
}

.features__article>h3 {
    color: #4a2fa3;
    font-weight: lighter;
}

.features__article>h3>i {
    color: #e94070;
}

/* video section styling */

video {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: block;
    padding-top: 6%;
    margin-bottom: -18%;
    border: none;
    border-radius: 2pt;
    background-color: white;
    box-shadow: 0 0 0 15pt white;
}

.video {
    position: relative;
    text-align: center;
}

.fa-play-circle {
    background-color: white;
    color: #e94070;
    position: absolute;
    top: 48%;
    left: 47%;
    font-size: 6vw;
    cursor: pointer;
    border-radius: 70%;
}

/* icons */

#pen {
    display: inline-block;
    transform: rotate(-45deg);
}

#ruler {
    display: inline-block;
    transform: rotate(-60deg);
}

i {
    font-size: x-large;
}

/* statistics section styling */

.stats {
    background-image: linear-gradient(to right, #a765e1, #7872ec);
    color: white;
    font-family: 'regularCabin';
}

.fa-arrow-down, .fa-smile-beam, #user, #star {
    color: white;
}

.stats__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 5rem;
}

.stats__item {
    padding-top: 8vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 25%;
}

.stats__item>h3 {
    padding-top: 2vw;
    padding-right: 1vw;
    font-size: 5vw;
    font-weight: lighter;
}

.stats__item p:not(#rates) {
    padding-top: 1vw;
    width: 80%;
    font-size: 1.5vw;
}

#rates {
    font-size: 1.5vw;
}

/* screenshots styling */

.screenshots__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.screenshot {
    width: 20%;
}

.screenshot>img:hover {
    transform: scale(1.2);
    opacity: 1;
    object-fit: cover;
}

.screenshot>img {
    height: 80%;
    width: 60%;
    object-fit: cover;
    opacity: 0.5;
    transition: all .2s ease-in-out;
}

#active__screenshot__icon {
    background-color: #e94070;
    color: #e94070;
    border-radius: 50%;
    margin: 2rem 0 2rem 0;
}

.screenshots__buttons {
    margin-top: 1rem;
    text-align: center;
}

.screenshots__buttons>a>i {
    font-size: small;
    color: grey;
}

/* pricing plan styling */

.pricing {
    background-color: rgb(238, 242, 243);
    border-width: 2%;
    padding-bottom: 100px;
}

/* hover on parent change child */

/* .parent:hover .child, .parent.hover .child {
    display: block;
} */

.pricing__article:hover .pricing__plan__header, .pricing__article.hover .pricing__plan__header .pricing__article:hover {
    background-color: #a765e1;
    transition: all .2s inherit;
    border-radius: 20px 20px 0px 0px;
}

.pricing__article:hover button, .pricing__article.hover button {
    background-color: #a765e1;
}

.pricing__article:hover #pricing__number, .pricing__article.hover #pricing__number {
    color: white;
}

.pricing__article:hover #pricing__text, .pricing__article.hover #pricing__text {
    color: white;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing__article {
    text-align: center;
    margin: 0 0.1% 0 0.1%;
    width: 20%;
    background-color: white;
    border: grey;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px 20px 20px 0px;
}

#pricing__text {
    color: #4a2fa3;
    font-size: 1.5rem;
    padding-bottom: 5%;
    font-weight: 100;
}

#pricing__number {
    color: red;
    font-weight: 100;
    font-size: 2rem;
}

/* $ */

.pricing {
    margin-top: 2rem;
}

.pricing__plan__header>h3+h3::before {
    content: "$";
    display: block;
    font-size: medium;
    padding-right: 13%;
    margin-bottom: -3%;
}

.pricing__article p {
    color: grey;
    vertical-align: middle;
    padding: 1rem;
}

.pricing__plan__header {
    width: 100%;
    height: 30%;
    padding-top: 10%;
}

#active__plan>h3 {
    color: white;
}

/* button */

.pricing__article>button {
    background-color: #716a84;
}

.pricing__article>button {
    color: white;
    text-align: center;
    cursor: pointer;
    border-style: none;
    padding: 2% 5% 2% 5%;
    border-radius: 0px 0px 20px 0px;
    width: 100%;
    height: 15%;
}

/* feedback styling */

.feedback {
    margin-top: 7rem;
    text-align: center;
}

.feedback>.container>i {
    color: #8d7ef4;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.feedback>.container>div>#feedback__star {
    color: #e9b231;
    font-size: 1rem;
}

.fa-quote-left~p:not(#developres, #jennifer) {
    color: #6274a8;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

#jennifer {
    color: #4a2fa3;
    font-weight: lighter;
    padding-top: 1rem;
    font-size: 1.3rem;
}

#developres {
    color: #9196a7;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: medium;
}

.feedback__images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feedback__image {
    width: 8%;
}

.feedback__image>img {
    border-radius: 50%;
    width: 4vw;
    object-fit: cover;
}

#active__feedback__image>img {
    width: 6vw;
}

.fa-chevron-left, .fa-chevron-right {
    color: rgb(177, 176, 176);
}

/* membership styling */

.membership {
    background-image: linear-gradient(to right, #a765e1, #7872ec);
    color: white;
    margin-top: 2rem;
}

.membership__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.membership__item {
    width: 50%;
}

.membership__item>button {
    float: right;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-style: none;
    padding: 2% 5% 2% 5%;
    border-radius: 20px 20px 20px 0px;
}

.membership__item>button>a {
    color: #e96388;
}

.membership__item>h2 {
    margin-top: 1rem;
    font-size: xx-large;
}

.membership__item>p {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: smaller;
}

/* our team styling */

.team__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 1rem;
    text-align: center;
}

.team__item>img {
    width: 80%;
    object-fit: cover;
    border-radius: 20px 20px 20px 0px;
}

/* overlay */

.team__item {
    position: relative;
    width: 25%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 1.85rem; */
    left: 2.2vw;
    right: 0;
    height: 11.6vw;
    /* width: 80%; */
    width: 17.3vw;
    opacity: 0;
    transition: .5s ease;
    background-color: #602ebd;
    border-radius: 20px 20px 20px 0px;
}

.team__item:hover .overlay {
    opacity: 0.7;
}

.overlay__icons * {
    padding: 5.5vw 0.5vw 0 0.5vw;
    font-size: 1.5vw;
}

/* contact styling */

.contact {
    background-color: rgb(238, 242, 243);
    border-width: 2%;
    box-shadow: 0px 15px 10px -15px #6e6b6b;
    margin-bottom: 5rem;
    margin-top: 3rem;
    height: 50vh;
    position: relative;
}

.contact__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.contact__item {
    width: 50%;
    text-align: left;
}

.contact__item>p {
    color: #888ea3;
}

.contact__header {
    padding-bottom: 4%;
    font-size: x-large;
    color: #4a2fa3;
}

.contact__header::after {
    content: "";
    display: block;
    margin-left: 0;
    width: 4rem;
    padding-top: 1%;
    border-bottom: 3px solid violet;
}

.contact__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

#name, #email, textarea {
    border-color: #eae8f1;
    color: #8d7ef4;
    text-align: left;
    border-style: solid;
    padding: 2% 5% 2% 2%;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 2%;
    border-width: thin;
    Outline: none;
    width: 100%;
}

#sendNow {
    background-color: #e94070;
    color: white;
    text-align: center;
    cursor: pointer;
    border-style: none;
    padding: 2% 5% 2% 5%;
    border-radius: 20px 20px 20px 0px;
}

.goToTop {
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: none;
    outline: none;
}

.fa-sort-up {
    color: white;
    background-color: #ec507c;
    width: 2rem;
    height: 2rem;
    padding-top: 0.5rem;
}

.contact__header+p {
    padding-bottom: 2rem;
}

span {
    color: #6c56f7;
}

.contact__paragraph {
    padding: 0.2rem;
}

/* responsive navbar menu */

.hamburger__menu {
    display: none;
}

@media only screen and (max-width: 1043px) {
    ul li {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 633px) {
    .navbar__links {
        display: none;
    }
    .hamburger__menu {
        display: block;
    }
}

@media only screen and (max-width: 744px) {
    #getStarted {
        margin-top: 5px;
    }
}

/* mobile */

@media only screen and (max-width: 543px) and (min-width: 320px) {
    .hero__items {
        flex-wrap: nowrap;
    }
    .hero__text {
        width: 100%;
        margin-bottom: 0px;
    }
    .hero__text p {
        margin-bottom: 0px;
    }
    .hero__imgage__fig {
        width: 100%;
    }
    #getStarted, #getStartedInput {
        font-size: xx-small;
    }
    .special__articles, .propositions__items, .features__articles, .team__items, .articles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .special__article, .propositions__img, .propositions__text, .features__article, .team__item, .pricing__article {
        width: 100%;
        text-align: center;
    }
    .special__articles, .features__articles, .pricing__article, .feedback {
        font-size: smaller;
    }
    .special__article, .propositions__text, .propositions__icons {
        font-size: x-small;
        font-weight: 100px;
    }
    .propositions__icons {
        justify-content: center;
    }
    .screenshot.hide, .fa-circle.hide {
        display: none;
    }
    .screenshot {
        width: 33.33%;
    }
    .overlay {
        left: 8.5vw;
        width: 64.5vw;
        height: 44vw;
    }
    .overlay__icons {
        height: 43.5vw;
    }
    .overlay__icons * {
        padding: 19vw 0.5vw 0 0.5vw;
        font-size: 10vw;
    }
    .contact__item>p, #name, #email, textarea {
        font-size: xx-small;
    }
    i {
        font-size: 1rem;
    }
}
