* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cabin-Bold.woff';
}
.container {
    width: 90%;
    margin: 0 auto;
}

/* welcome section styling */
.welcome {
    background-image: url('../assets/images/welcome-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;

}

/* navbar styling */
.row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 5%;
    padding-top: 2%;
}
.navbar__logo > a {
    font-size: 300%;
    font-weight: bolder;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content:center;
    list-style: none;
}

ul > li {
    padding: 2%;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}
#sign {
background-color: transparent;
border:white;
color: white;
text-align: center;
cursor: pointer;
border-style:solid;
padding:1% 4% 1% 4%;
border-width: thin;
border-radius: 20px 20px 20px 0px;
}
#sign > a {
    font-weight: bolder;
}

#getStarted {
background-color: #fb397d;
color: white;
text-align: center;
cursor: pointer;
border-style:none;
padding:2% 8% 2% 8%;
border-radius: 20px 20px 20px 0px;
}
#getStarted > a {
    font-weight: bolder;
}
input {
margin-top: 20%;
background-color: #9572e8;
border-style:none;
padding:2% 8% 2% 8%;
border-radius: 20px 20px 20px 20px;
}
input::placeholder {
    color: white;
}
h1 {
    font-size:400%;
    margin-bottom: 5%;
}
h1 + p {
    font-size: small;
}
/* hero section styling */
.hero__items {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;

}

.hero__img {
    height: 70%;
    width: 50%;
    margin-bottom: -10%;
    float: right;
}

/* special section styling */
.special__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.special__header {
    padding-top: 6%;
        font-size: x-large;

}
.special {
    color:#7340e9;
}

#special:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 4%;
    border-bottom: 3px solid violet;
}

.special__articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}
.special__article {
    font-style:italic;
    display: block;
    width: 33.33%;
    text-align: center;
    padding: 5%;

}

/* propositions section styling */
.propositions__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 6%;
}
.propositions__img > img {
    width: 80%;
    height: 50%;
}
.propositions__img {
    width: 50%;
}
.propositions__text {
    width: 50%;
    text-align:left;
    padding-bottom: 6%;
}
.propositions__text > h2 {
    padding-bottom: 3%;
}
.propositions {
    color:#7340e9;
}

/* features section styling */

.features__header {
    text-align: center;
    padding: 4%;
    font-size: x-large;
}
.features__articles {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-content: center;
}
.features {
        color:#7340e9;


}
.features__article {
    width: 33.33%;
    text-align: left;
    float: left;
    padding: 1%;
}
.features__article > p {
    padding-top: 2%;
}
#feature:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 1%;
    border-bottom: 3px solid violet;
}

/* video section styling */
    video {
    width:80%;
    height: 60%;
    margin: 0 auto;
    display: block;
    padding-top: 6%;
}

/* icons */
#pen {
    display: inline-block;
    transform: rotate(-45deg);
}
#ruler {
    display: inline-block;
    transform: rotate(-60deg);
}
#android {
    float: left;
}
#apple {
    float: right;
}
i {
    color: rgb(182, 75, 182);
}

