/* Font */
@font-face {
font-family: boldCabin;
src: url("../assets/fonts/Cabin-Bold.woff");
}
@font-face {
font-family: regularCabin;
src: url("../assets/fonts/Cabin-Regular.woff");
}


/* general styling */
* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: regularCabin;
}
.container {
width: 90%;
margin: 0 auto;
}
ul > li {
padding: 2%;
}
a {
text-decoration: none;
color: white;
font-weight: boldCabin;
}
h1 {
font-size:400%;
margin-bottom: 5%;
}
h1 + p {
font-size: small;
}


/* welcome section styling */
.welcome {
background-image: url('../assets/images/welcome-bg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
color: white;
}

/* navbar styling */
.row {
display: flex;
flex-direction: row;
justify-content:space-between;
flex-wrap: wrap;
align-items: baseline;
margin-bottom: 5%;
padding-top: 2%;
}
.navbar__logo > a {
font-size: 300%;
font-weight: boldCabin;
}
.navbar__links {
display: flex;
flex-direction: row;
justify-content:center;
list-style: none;
}

/* sign up button styling */
#sign {
background-color: transparent;
border:white;
color: white;
text-align: center;
cursor: pointer;
border-style:solid;
padding:1% 4% 1% 4%;
border-width: thin;
border-radius: 20px 20px 20px 0px;
}
#sign > a {
    font-weight: boldCabin;
}


 /* input form styling */
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:20% ;
}
input {
background-color: #9572e8;
border-style:none;
padding:2% 8% 2% 8%;
border-radius: 20px 20px 20px 20px;
margin-right: 2%;
}
input::placeholder {
    color: white;
}


 /* get started button styling */
#getStarted {
background-color: #e96388;
color: white;
text-align: center;
cursor: pointer;
border-style:none;
padding:2% 5% 2% 5%;
border-radius: 20px 20px 20px 0px;
margin-left:2% ;
}

/* hero section styling */
.hero__items {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}

.hero__img {
    height: 70%;
    width: 50%;
    margin-bottom: -10%;
    float: right;
}

/* special section styling */
.special__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.special__header {
    padding-top: 6%;
        font-size: x-large;

}
.special {
    color:#4a2fa3;
}

#special:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 4%;
    border-bottom: 3px solid violet;
}

.special__articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}
.special__article {
    display: block;
    width: 33.33%;
    text-align: center;
    padding: 5%;

}

/* propositions section styling */
.propositions__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 6%;
}
.propositions__img > img {
    width: 80%;
    height: 50%;
}
.propositions__img {
    width: 50%;
}
.propositions__text {
    width: 50%;
    text-align:left;
    padding-bottom: 6%;
}
.propositions__text > h2 {
    padding-bottom: 3%;
}
.propositions {
    color:#4a2fa3;
}

/* features section styling */

.features__header {
    text-align: center;
    padding: 4%;
    font-size: x-large;
}
.features__articles {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-content: center;
}
.features {
    color:#4a2fa3;
}
.features__article {
    width: 33.33%;
    text-align: left;
    float: left;
    padding: 1%;
}
.features__article > p {
    padding-top: 2%;
}
#feature:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 1%;
    border-bottom: 3px solid violet;
}

/* video section styling */
    video {
    width:90%;
    height: 60%;
    margin: 0 auto;
    display: block;
    padding-top: 6%;
    margin-bottom: -5%;
    border-radius: 20px 20px 20px 20px;
}

/* icons */
#pen {
    display: inline-block;
    transform: rotate(-45deg);
}
#ruler {
    display: inline-block;
    transform: rotate(-60deg);
}
#android {
    float: left;
}
#apple {
    float: right;
}
i {
    color: rgb(182, 75, 182);
font-size: x-large;
}

/* statistics section styling */
.stats {
background-image: linear-gradient(to right, #a765e1 , #7872ec);
height: 15rem;
color: white;
font-family: 'regularCabin';
}
.fa-arrow-down , .fa-smile-beam , #user , .fa-star {
    color: white;
}
.stats__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:center;
}
.stats__item {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    width: 25%;
}
.stats__item > h3 {
padding-top: 20%;
padding-right: 15%;
font-size: xx-large;
}
i + p {
    padding-top: 8%;
    font-size: large;
}